@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body{}

main {
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* src/components/LanguageDropdown.css */
.language-dropdown {
  position: absolute;
  top: 5px;
  right: 0;
  margin: 10px;
}

.dropdown-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 120px; /* Establece un ancho mínimo */
  text-align: center; /* Centra el texto */
}

.dropdown-menu {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  min-width: 120px;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  background: transparent;
  color: #fff;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background-color: #555;
  border-radius: 5px;
}
