@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body{
  color: #fff;
  background: #261e41
}

main {
  background: #3e2255;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-container {
  display: grid;
  place-items: center;
  width: 100%;
  max-height: 200px;
  margin-top: -120px;
}

.image-container img {
  max-width: 50%;
  height: auto;
  margin: 0 auto; /* center the image horizontally */
}

.big-grey-button {
  position: absolute;
  top: 300px;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Increased width */
  height: 60px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.big-grey-button img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.big-grey-button span {
  font-size: 24px;
  color: #fff;
}

/* src/components/LanguageDropdown.css */
.language-dropdown {
  position: absolute;
  top: -50px;
  right: 0;
  margin: 10px;
}

.dropdown-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 120px; /* Establece un ancho mínimo */
  text-align: center; /* Centra el texto */
}

.dropdown-menu {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  min-width: 120px;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  background: transparent;
  color: #fff;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background-color: #555;
  border-radius: 5px;
}
